body {
  padding-top: 10px;
}

.foodImg {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.orderButton {
  border-radius: 13px;
  background-color: rgb(231, 231, 255);
  border: 2px solid rgb(159, 183, 255);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  /* transition-duration: 0.4s; */
}

/* .orderButton:hover {
  background-color: rgb(214, 139, 0);
  color: white;
} */

.price {
  display: flex;
  justify-content: end;
}

#title {
  position: absolute;
  top: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

#cartButton {
  display: flex;
  justify-content: end;
  font-size: 12px;
}

#container {
  position: relative;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.titleImg {
  width: 60%;
  height: auto;
  margin: 20px;
}

.header {
  width: 90%;
  color: rgb(235, 152, 0);
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

.subheader {
  color: black;
  font-style: italic;
}

.container {
  width: 90%;
}

#itemCard {
  margin-bottom: 10%;
}

#counterContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 32px;
}

.subtract {
  background: url('https://cdn2.iconfinder.com/data/icons/250-perfect-vector-pictograms/48/9.2-512.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 17px;
  border: none;
}

.add {
  background: url('https://cdn-icons-png.flaticon.com/512/992/992651.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 17px;
  border: none;
}

.count {
  width: 20px;
  justify-content: center;
  display: flex;
}

#contentContainer {
  /* justify-content: space-between; */
}

.buttonContainer {
  display: flex;
  justify-content: center;
  max-width: 20px;
}

.total {
  font-size: 20px;
  font-weight: 300;
}