body {
  padding-top: 10px;
}

.foodImg {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.orderButton {
  border-radius: 13px;
  font-family: Arial, Helvetica, sans-serif; 
  background-color: rgb(231, 231, 255);
  border: 2px solid rgb(168, 159, 255);
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /* transition-duration: 0.4s; */
}

/* .orderButton:hover {
  background-color: rgb(214, 139, 0);
  color: white;
} */

.price {
  display: flex;
  justify-content: center;
}

#title {
  position: absolute;
  top: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

#button {
  position: absolute;
  bottom: 0;
}

#container {
  position: relative;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}

.titleImg {
  width: 60%;
  height: auto;
  margin: 20px;
}

.header {
  width: 90%;
  color: rgb(235, 152, 0);
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

.subheader {
  color: black;
  font-style: italic;
}

.container {
  width: 90%;
}

#itemCard {
  margin-bottom: 10%;
}